<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="resetsheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/aside.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/login.css">
    <script src="../javascript/login.js"></script>
</head>
<body>
    <header class="container">
        <img src="../img/header-trackgenix.svg" alt="Trackgenix by RadiumRocket" class="mobile desktop">
        <img src="../img/header-trackgenix-2.png" alt="Trackgenix by RadiumRocket" class="tablet">
        <img src="../img/triangle-button.png" alt="menu_arrow" class="button">
        <div class="logos">
            <a href="" target="_blank"><img src="../img/tw-1.png" alt="twitter logo"></a>
            <a href="" target="_blank"><img src="../img/ig-1.png" alt="instagram logo"></a>
            <a href="" target="_blank"><img src="../img/in-1.png" alt="linkedin logo"></a>
            <a href="" target="_blank"><img src="../img/fb-1.png" alt="facebook logo"></a>  
        </div>                 
    </header>
    <nav class="nav-bar">
        <ul class="list">
            <li class="current">
                <a href="../views/index.html">Home</a>
            </li>
            <li>
                <a href="../views/login.html">Sign in</a>
            </li>
            <li>
                <a href="../views/employee-signup.html">Sign up</a>
            </li>
            <li>
                <a href="">About us</a>
            </li>
        </ul>
    </nav>
    <div class="not-header">
        <aside class="container">
            <section class="section nav">
                <h2 class="title">Menu</h2>
                <ul class="list">
                    <li>
                        <a href="../views/index.html">Home</a>
                    </li>
                    <li class="current">
                        <a href="">Sign in</a>
                    </li>
                    <li>
                        <a href="../views/employee-signup.html">Sign up</a>
                    </li>
                    <li>
                        <a href="">About us</a>
                    </li>
                </ul>
            </section>
            <section class="section get-in-touch">
                <h2 class="title">Get in Touch</h2>
                <p class="text">
                    Sed varius enim lorem ullamcorper dolore aliquam aenean ornare 
                    velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam 
                    facilisis ante interdum. Sed nulla amet lorem 
                    feugiat tempus aliquam.
                </p>
                <address>
                    <div class="contact-data">
                        <img src="../img/sb1.png" alt="phone">
                        <a href="tel:+0000000">(000) 000-0000</a>
                    </div>
                    <div class="contact-data">
                        <img src="../img/sb2.png" alt="email">
                        <a href="mailto:information@untitled.tld">information@untitled.tld</a>
                    </div>
                    <div class="contact-data">
                        <img src="../img/sb3.png" alt="location">
                        <p>
                            1234 Somewhere Road #8254
                            <br>
                            Nashville, TN 00000-0000
                        </p>
                    </div>
                </address>
            </section>
        </aside>
        <div class="not-header-r">
            <main id="main">
                <form class="login">
                    <h2>Sign in</h2>
                    <div class="input email default-border" id="input-email">
                        <img src="../img/login-email.png" alt="email" class="login-img" alt="boxmail-img">
                        <input type="text" placeholder="Email" id="email">
                    </div>
                    <div id="email-error" class="validation-msg"></div>
                    <div class="input password default-border" id="input-password">
                        <img src="../img/login-lock.png" alt="lock-img" class="login-img">
                        <input type="password" placeholder="Password" id="password">
                    </div>
                    <div id="password-error" class="validation-msg"></div>
                    <div class="input checkbox">
                        <input type="checkbox" name="" id="remember-pass">
                        <label for="remember-pass">Remember me</label>
                    </div>
                    <button id="login-btn">Log in</button>
                    <a href="">Don't you remember your password?</a>
                </form>
            </main>
        </div>
    </div>
</body>
</html>