<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="resetsheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/aside.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/landing.css">
    </head>
    <body>
        <header class="container">
            <img src="../img/header-trackgenix.svg" alt="Trackgenix by RadiumRocket" class="mobile desktop">
            <img src="../img/header-trackgenix-2.png" alt="Trackgenix by RadiumRocket" class="tablet">
            <img src="../img/triangle-button.png" alt="menu_arrow" class="button">
            <div class="logos">
                <a href="" target="_blank"><img src="../img/tw-1.png" alt="twitter logo"></a>
                <a href="" target="_blank"><img src="../img/ig-1.png" alt="instagram logo"></a>
                <a href="" target="_blank"><img src="../img/in-1.png" alt="linkedin logo"></a>
                <a href="" target="_blank"><img src="../img/fb-1.png" alt="facebook logo"></a>  
            </div>                 
        </header>
        <nav class="nav-bar">
            <ul class="list">
                <li class="current">
                    <a href="../views/index.html">Home</a>
                </li>
                <li>
                    <a href="../views/login.html">Sign in</a>
                </li>
                <li>
                    <a href="../views/employee-signup.html">Sign up</a>
                </li>
                <li>
                    <a href="">About us</a>
                </li>
            </ul>
        </nav>
        <div class="not-header">
            <aside class="container">
                <section class="section nav">
                    <h2 class="title">Menu</h2>
                    <ul class="list">
                        <li class="current">
                            <a href="">Home</a>
                        </li>
                        <li>
                            <a href="../views/login.html">Sign in</a>
                        </li>
                        <li>
                            <a href="../views/employee-signup.html">Sign up</a>
                        </li>
                        <li>
                            <a href="">About us</a>
                        </li>
                    </ul>
                </section>
                <section class="section get-in-touch">
                    <h2 class="title">Get in Touch</h2>
                    <p class="text">
                        Sed varius enim lorem ullamcorper dolore aliquam aenean ornare 
                        velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam 
                        facilisis ante interdum. Sed nulla amet lorem 
                        feugiat tempus aliquam.
                    </p>
                    <address>
                        <div class="contact-data">
                            <img src="../img/sb1.png" alt="phone">
                            <a href="tel:+0000000">(000) 000-0000</a>
                        </div>
                        <div class="contact-data">
                            <img src="../img/sb2.png" alt="email">
                            <a href="mailto:information@untitled.tld">information@untitled.tld</a>
                        </div>
                        <div class="contact-data">
                            <img src="../img/sb3.png" alt="location">
                            <p>
                                1234 Somewhere Road #8254
                                <br>
                                Nashville, TN 00000-0000
                            </p>
                        </div>
                    </address>
                </section>
            </aside>
            <div class="not-header-r">
                <main class="container">
                    <section class="block main">
                        <div class="text">
                            <h1>
                                <span class="bold">Trackgenix</span> <span>by RadiumRocket</span>
                            </h1>
                            <h2>An easy system to track yout team's times and projects</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when
                            </p>
                            <a href="" class="button1 tablet">Learn more</a>
                        </div>
                        <a href="" class="button1 mobile desktop">Learn more</a>
                        <img src="../img/img1.png" alt="bulb image">
                    </section>
                    <section class="block services">
                        <h2>Services</h2>
                        <div class="column">
                            <article>
                                <img src="../img/sv1.png" alt="clock img" class="img">
                                <div class="text">
                                    <h3 class="title">Hours Registry</h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
                                        tempus aliquam.
                                    </p>
                                </div>
                            </article>
                            <article>
                                <img src="../img/sv2.png" alt="inbox img" class="img">
                                <div class="text">
                                    <h3 class="title">Reports</h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
                                        tempus aliquam.
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="column">
                            <article>
                                <img src="../img/sv3.png" alt="network img" class="img">
                                <div class="txt">
                                    <h3 class="title">Resources Managment</h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
                                        tempus aliquam.
                                    </p>
                                </div>
                            </article>
                            <article>
                                <img src="../img/sv4.png" alt="boxes img" class="img">
                                <div class="txt">
                                    <h3 class="title">Multiple Roles</h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
                                        tempus aliquam.
                                    </p>
                                </div>
                            </article>
                        </div>
                    </section>
                    <section class="block whytr">
                        <h2>Why Trackgenix?</h2>
                        <div class="articles">
                            <article>
                                <img src="../img/img2.jpg" alt="productivity image">
                                <div class="text">
                                    <h3>Productivity enhancement</h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat 
                                        tempus aliquam.
                                    </p>
                                    <a href="" class="button2 tablet">More</a>
                                </div>
                                <a href="" class="button2 mobile desktop">More</a>
                            </article>
                            <article>
                                <img src="../img/img2.jpg" alt="tracebility image">
                                <div class="text">
                                    <h3>Work tracebility</h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat 
                                        tempus aliquam.
                                    </p>
                                    <a href="" class="button2 tablet">More</a>
                                </div>
                                <a href="" class="button2 mobile desktop">More</a>
                            </article>
                            <article>
                                <img src="../img/img2.jpg" alt="leadership iamge">
                                <div class="text">
                                    <h3>Leadership and teamwork</h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat 
                                        tempus aliquam.
                                    </p>
                                    <a href="" class="button2 tablet">More</a>
                                </div>
                                <a href="" class="button2 mobile desktop">More</a>
                            </article>
                            <article>
                                <img src="../img/img2.jpg" alt="decision making image">
                                <div class="text">
                                    <h3>Decision making</h3>
                                    <p>
                                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat 
                                        tempus aliquam.
                                    </p>
                                    <a href="" class="button2 tablet">More</a>
                                </div>
                                <a href="" class="button2 mobile desktop">More</a>
                            </article>
                        </div>
                    </section>
                    <section class="block system-info">
                        <h2>Request system information</h2>
                        <form>
                            <fieldset name="Personal data" class="fieldset-section">
                                <div class="name-email">
                                    <label for="name" class="title-label">Name</label>
                                    <input type="text" placeholder=" Your name here" required id="name">
                                    <label for="email-box" class="title-label">Email</label>
                                    <input type="email" placeholder=" Your email here" required id="email-box">
                                </div>
                                <div class="contact-area">
                                    <h4 class="title-label">Contact area</h4>
                                    <div class="radios">
                                        <div class="radio">
                                            <input type="radio" value="Human resources" name="contact-area" id="ca1">
                                            <label for="ca1">Human resources</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" value="Systems" name="contact-area" id="ca2">
                                            <label for="ca2">Systems</label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" value="Comercial" name="contact-area" id="ca3">
                                            <label for="ca3">Comercial</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset name="Leave a message" class="fieldset-section">    
                                <label for="msg" class="title-label">Message</label>
                                <textarea required name="msg" id="msg" placeholder=" Type your message"></textarea>
                                <div class="buttons">
                                    <input type="submit" class="button3" value="Reset">
                                    <input type="submit" class="button3" value="Send">
                                </div>
                            </fieldset>
                        </form>
                    </section>
                    <section class="block our-story">
                        <h2>Our story</h2>
                        <article class="column">
                            <div class="text">
                                <h3>An easy syste</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    when an unknown printer took a galley of type and scrambled it to make a 
                                    type specimen book.
                                </p>
                            </div>
                            <img src="../img/img2.jpg" alt="our story image" class="mobile">
                        </article>
                        <article class="column">
                            <div class="text">
                                <h3>An easy syste</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                    when an unknown printer took a galley of type and scrambled it to make a 
                                    type specimen book.
                                </p>
                            </div>
                            <img src="../img/img2.jpg" alt="our story image" class="tablet">
                        </article>
                    </section>
                    <section class="block lists">
                        <ul>
                            <li>
                                Products
                            </li>
                            <li class="sub-list">
                                <a href="">Functionalities</a>
                            </li>
                            <li class="sub-list">
                                <a href="">Downloads</a>
                            </li>
                            <li class="sub-list">
                                <a href="">Integrations</a>
                            </li>
                            <li class="sub-list">
                                <a href="">Extras</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                Company
                            </li>
                            <li class="sub-list">
                                <a href="">About us</a>
                            </li>
                            <li class="sub-list">
                                <a href="">Clients</a>
                            </li>
                            <li class="sub-list">
                                <a href="">Resources</a>
                            </li>
                            <li class="sub-list">
                                <a href="">Blog</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                Support
                            </li>
                            <li class="sub-list">
                                <a href="">Help</a>
                            </li>
                            <li class="sub-list">
                                <a href="">Tutorials</a>
                            </li>
                            <li class="sub-list">
                                <a href="">API</a>
                            </li>
                            <li class="sub-list">
                                <a href="">Contact</a>
                            </li>
                        </ul>
                    </section>
                </main>
                <footer>
                    <div class="logos">
                        <a href="" target="_blank"><img src="../img/tw.png" alt="twitter logo"></a>
                        <a href="" target="_blank"><img src="../img/ig.png" alt="instagramlogo"></a>
                        <a href="" target="_blank"><img src="../img/in.png" alt="linkedin logo"></a>
                        <a href="" target="_blank"><img src="../img/fb.png" alt="facebook logo"></a>
                    </div>
                    <p>Rosario, Argentina</p>
                    <p>Copyright &copy; 2022 Radium Rocket. All rights reserved.</p>
                </footer>
            </div>
        </div>
    </body>
</html>