<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="reset" href="../css/reset.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <script src="../javascript/sign-up.js"></script>
    </head>
    <body>
        <header>
            <div class="header">
                <img class="header-menu" src="../assets/Icon-burger.png" alt="">
                <h2>Trackgenix</h2>
                <div class="header-icons">
                    <img src="../assets/twitter.png" alt="twitter logo">
                    <img src="../assets/facebook.png" alt="facebook logo">
                    <img src="../assets/instagram.png" alt="instagram logo">
                    <img src="../assets/linkedin.png" alt="linkedin logo">
                </div>
            </div>
            <div class="header-div"></div>
        </header>
        <aside>
            <nav>
                <input type="text" placeholder="Search">
                <div class="aside-menu">
                    <h3>MENU</h3>
                    <ul>
                        <li><a href="https://alejofgm.github.io/BaSP-A2022-Etapa-1/Semana-07/views/index.html">HOME</a></li>
                        <li><a href="https://alejofgm.github.io/BaSP-A2022-Etapa-1/Semana-07/views/sign-up.html">SIGN UP</a></li>
                        <li><a href="https://alejofgm.github.io/BaSP-A2022-Etapa-1/Semana-07/views/login.html">LOG IN</a></li>
                        <li><a href="">CONTACT INFO</a></li>
                    </ul>
                </div>
                <div class="aside-get">
                    <h3>GET IN TOUCH</h3>
                    <p>
                        Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu.
                        Lacinia quis vel eros donec ac odio tempor orci.
                        Nulla porttitor massa id neque aliquam.
                    </p>
                </div>
                <div class="aside-info">
                    <div class="info-mail">
                        <img src="../assets/mail.png" alt="icon mail">
                        <p>trackgenix@gigatech.com</p>
                    </div>
                    <div class="info-phone">
                        <img src="../assets/telephone.png" alt="telephone icon">
                        <p>+598 99123456</p>
                    </div>
                    <div class="info-addres">
                        <img src="../assets/addres.png" alt="addres icon">
                        <p>Av. Montevideo 1234, 11200</p>
                    </div>
                </div>
            </nav>
        </aside>
        <main>            
            <section class="sign-up">
                <h1>Sign Up</h1>
                <form action="">
                    <div>
                        <label for="Name">Name</label>
                        <input type="text" id="name">
                        <p id="name-msg"></p>
                    </div>
                    <div>
                        <label for="LastName">Last Name</label>
                        <input type="text" id="last-name">
                        <p id="last-msg"></p>
                    </div>
                    <div>
                        <label for="dni">DNI</label>
                        <input type="text" id="dni">
                        <p id="dni-msg"></p>
                    </div>
                    <div>
                        <label for="date">Date of Birth</label>
                        <input type="date" id="date">
                        <p id="date-msg"></p>
                    </div>
                    <div>
                        <label for="phone">Phone</label>
                        <input type="text" id="phone">
                        <p id="phone-msg"></p>
                    </div>
                    <div>
                        <label for="address">Address</label>
                        <input type="text" id="address">
                        <p id="address-msg"></p>
                    </div>
                    <div>
                        <label for="location">Location</label>
                        <input type="text" id="location">
                        <p id="location-msg"></p>
                    </div>
                    <div>
                        <label for="zip">Postal Code</label>
                        <input type="text" id="postal-code">
                        <p id="zip-msg"></p>
                    </div>
                    <div>
                        <label for="Email">Email</label>
                        <input type="text" id="email">
                        <p id="email-msg"></p>
                    </div>
                    <div>
                        <label for="Password">Password</label>
                        <input type="password" id="password">
                        <p id="pass-msg"></p>
                    </div>
                    <div>
                        <label for="repeat-password">Repeat password</label>
                        <input type="password" id="repeat-password">
                        <p id="rpass-msg"></p>
                    </div>
                </form>
                <button id="sign-up-button">Create</button>
            </section>
        </main>
        <footer>
            <h2>Trackgenix</h2>
            <div class="footer-text">
                <div>
                    <h4>Products</h4>
                    <ol>
                        <li>Functionalities</li>
                        <li>Downloads</li>
                        <li>Integrations</li>
                        <li>Additional features</li>
                    </ol>
                </div>
                <div>
                    <h4>Business</h4>
                    <ol>
                        <li>About us</li>
                        <li>Customers</li>
                        <li>Resources</li>
                        <li>Blog</li>
                    </ol>
                </div>
                <div>
                    <h4>Support</h4>
                    <ol>
                        <li>Help</li>
                        <li>Tutorials</li>
                        <li>API</li>
                        <li>Contact</li>
                    </ol>
                </div>
            </div>
            <div class="footer-images">
                <img src="../assets/twitter_black.png" alt="twitter logo">
                <img src="../assets/instagram_black.png" alt="instagram logo">
                <img src="../assets/facebook_black.png" alt="facebook logo">
                <img src="../assets/linkedin_black.png" alt="linkedin logo">
                <img src="../assets/github.png" alt="github logo">
            </div>
            <div class="div-footer"></div>            
        </footer>        
    </body>
</html>